.card {
    border-radius: 8px 8px 4px 4px !important;
  }
  .btn-style {
    display: flex;
    justify-content: center;
  }
  .app-button {
    border-radius: 20px;
  }
  .form-group {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  