/* color codes that needs to be used across the application */

$background-color: #134875;
$secondary-background-color : #2f80ed;

$color-navy-blue: #134875;
$color-green: #bed83c;
$color-danger: #EB5757;

$color-blue-primary: #2f80ed;
$color-blue-secondary: #2d9cdb;
$color-blue-secondary-light: #56ccf2;

$color-green-primary: #219653;
$color-green-secondary: #27ae60;
$color-green-secondary-light: #6FCF97;

$color-purple-primary: #9B51E0;
$color-purple-secondary: #BB6BD9;

$color-black: #333333;
$color-charcoal-black: #4F4F4F;

$color-dark-gray: #828282;
$color-light-gray: #BDBDBD;
$color-lighter-gray: #BDBDBD;
$color-lightest-gray: #F2F2F2;
$color-white: #ffffff;
